[Unit]
Description=Nboard Node Service
After=network.target nss-lookup.target
Wants=network.target

[Service]
User=root
Group=root
Type=simple
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=999999
WorkingDirectory=/etc/nboard-node/
ExecStart=/usr/local/bin/nboard-node -c /etc/nboard-node/config.yml
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target